.containers
{
    margin: 0;
    padding-top: 0;
	background: black;
    box-sizing: border-box;
    font-family: "poppins";
	text-align: center;
}

.page_404
{
    margin-top: 150px;
	padding: 40px 0;
    font-family: 'Poppins';
	text-align: center;
	background: black;
}

.four_zero_four_bg
{
    background: url('../img/bg1.gif');
	height: 365px;
	background-repeat:no-repeat;
	background-size: 1500px;
	margin-left: 400px; 
    background-position: center;
}

.text-centers
{
    font-size: 60px;
	font-family: Adabe;
	margin-top: 50px;
	color: white;
	margin-left: 400px;
}

.box_404
{
	font-family: ink Free;
	font-size: 15px;
	margin: 10px;
	color : white;
	margin-left: 400px;
}
h3
{
	padding-top: 50px;
    font-size: 80px;
}

.content_box_404
{
    margin-top: 50px;
}
.btn{
	font-family: comic sans MS;
	color: white;
	margin-top: 20px;
	background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    border-radius: 20px;
	margin-left: 400px;
}
a, a:visited, a:hover, a:active {
  color: black;
}